@use "../../styles/variables.scss" as var;
@use "../../styles/mixins.scss" as mixins;

.academiesMain {
  background: rgba(0, 42, 126, 0.75);
  color: white;
  font-family: var.$font-poppins;
  padding: 3rem 15rem;
  padding-bottom: 6rem;

  @include mixins.breakpoint(mobileonly) {
    padding: 1.5rem 3rem;
  }
}

.wrapperContainer {
  margin-top: 13rem;
}

.backToHome {
  margin: 1.2rem;
  margin-top: 10rem;
  padding-left: 0.5rem;
  font-size: 1.8rem;
  transition: 0.3s ease-in-out;

  svg {
    margin-right: 1rem;
    padding-top: 0.2rem;
  }

  @include mixins.breakpoint(tablet) {
    margin: 0.2em;
  }

  @include mixins.breakpoint(mobileonly) {
    display: none;
  }
}

.backDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 17rem;
  height: 3rem;
  cursor: pointer;

  @include mixins.breakpoint(mobileonly) {
    float: left;
  }
}

.backDiv:hover {
  color: var.$navy-medium;
}

.academyTitleDiv {
  display: flex;
  align-items: center;
}

.screenIcon {
  width: auto;
  margin: 2rem;

  @include mixins.breakpoint(mobileonly) {
    width: 7rem;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.title {
  font-family: var.$font-open-sans;
  font-size: 6.7rem;
  width: 60%;
  font-weight: 300;
  margin-left: 2rem;

  // @include mixins.breakpoint(tablet) {
  //     font-size: 2.4rem;
  // }

  // @include mixins.breakpoint(mobileonly) {
  //     font-size: 1.8rem;
  // }
}

.buttonsDiv {
  display: flex;
  align-items: center;

  @include mixins.breakpoint(tablet) {
    display: inline;
  }

  @include mixins.breakpoint(mobileonly) {
    display: inline;
  }
}

.academyBtn {
  background-color: white;
  color: var.$logo-blue-dark;
  border: none;
  border-bottom: 4px solid white;
  margin: 0;
  font-family: var.$font-poppins;
  font-size: 1.6rem;
  padding: 10px;
  width: auto;
  height: fit-content;
  cursor: pointer;
  transition: 0.3s ease;

  //   @include mixins.breakpoint(tablet) {
  //     // font-size: 1.5rem;
  //     width: auto;
  //     height: fit-content;
  //     // margin-bottom: 1rem;
  //     padding: 0.6rem;
  //   }

  //   @include mixins.breakpoint(mobileonly) {
  //     // font-size: 1.3rem;
  //     width: auto;
  //     height: fit-content;
  //     margin-bottom: 1rem;
  //     padding: 0.6rem;
  //     border: 2px solid #ffffff;
  //   }
}

.academyBtn:hover {
  background: #a9d1ff;
  color: var.$logo-blue-dark;
  border-bottom: 4px solid var.$primary-light;

  //   @include mixins.breakpoint(mobileonly) {
  //     border: 2px solid var.$logo-blue-dark;
  //   }
}

.academyBtn:active {
  transform: scale(0.98);
}
