@use "../../styles/variables.scss" as var;

.carouselContainer {
  margin-top: 5rem;
  width: 100%;
  height: 520px;
  overflow: hidden;
  background-color: var.$light-gray;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: space-between;
}

.gradientDiv {
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to left,
    var.$light-gray,
    rgba(255, 255, 255, 0.02)
  );
  margin-left: 738px;
  position: absolute;
  z-index: 10;
  top: 0;
}

.dataContainer {
  //   margin-right: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 2rem 4rem;
  //   font-size: 2rem;
}
